* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 40px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7AB8FD;
  position: relative;
}

p {
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

ul {
  padding-inline-start: 20px;
}

.room_display {
  text-align: center;
  font-size: x-large;
  position: fixed;
  padding: 3px;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  background-color: #1F8AFF;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.chat_display {
  width: 100%;
  height: 60vh;
  background-color: white;
  overflow: scroll;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat_display::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.chat_display::-webkit-scrollbar-track {
  opacity: 0;
}

.chat_display::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.chat_display::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: 5px;
  height: 4px;
}

p.user {
  text-align: right;
}

p.user .message{
  background-color: #1F8AFF;
}

p.server {
  text-align: center;
}

p.server .message{
  color: gray;
  font-style: italic;
}

p.other{
  text-align: left;
}

p.other .message{
  background-color: gainsboro;
  color: black;
}

span{
  font-size: 15px;
  border-radius: 3px;
  padding: 4px;
}

.time{
  background-color: white;
  color: gray;
  font-size: 10px;
}

.button_bar {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  margin: 0;
}

.button_bar button{
  background-color: #1F8AFF;
  color: white;
  border: none;
  font-size: medium;
  border-radius:5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

.button_bar button:hover{
  background-color: #006FE6;
}


.input_field{
  margin: 0;
  color: gainsboro;
}

.input_area{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.send_button {
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #1F8AFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: medium;
}

.message_box{
  border-style: none;
  border-color: transparent;
}


.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}